In [3]:
import numpy as np
import pandas as pd

In [14]:
df = pd.DataFrame([[1,2,3,4],["a","Timeframe","Timeframe  wave in____","d"],[5,6,7,8],
                   ["a","Timefraaame","Timeframe fon____","d"]
                  ,[9,10,11,12]])
df

   0            1                       2   3
0  1            2                       3   4
1  a    Timeframe  Timeframe  wave in____   d
2  5            6                       7   8
3  a  Timefraaame       Timeframe fon____   d
4  9           10                      11  12

In [15]:
mask = np.column_stack([df[col].str.contains("Timeframe", na=False) for col in df])
mask

array([[False, False, False, False],
       [False,  True,  True, False],
       [False, False, False, False],
       [False, False,  True, False],
       [False, False, False, False]])

In [16]:
find_result = np.where(mask==True)
find_result

(array([1, 1, 3], dtype=int64), array([1, 2, 2], dtype=int64))

In [10]:
type(find_result)

tuple

In [17]:
result = [find_result[0][0], find_result[1][0]]
result

[1, 1]

In [20]:
z = []
for i in find_result[0]:
    for j in find_result[1]:
        tt = df.iloc[i,j]
        z = z.append(tt)

        
z

AttributeError: 'NoneType' object has no attribute 'append'